{% extends 'base.html.twig' %}

{% block body %}

    <div class="menu">

        <h1>{{ title }}</h1>

        <p>{{ erreur }}</p>
        {% for user in users %}
            <p>{{ user.getUsername() }} {{  user.getPassword() }}</p>
        {% endfor %}

    </div>

{% endblock %}