{% extends 'base.html.twig' %}

{% block body %}

    <div class="menu">

        <h1>{{ title }}</h1>

        <form action="{{ path('connexion_en_cours') }}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">L'machin avec l'arobaz là</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="c'est ici qu'tu met l'truc" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Bidule secret</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="ton mot secret t'sais" name="password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="keepConnect">
                <label class="form-check-label" for="exampleCheck1">Se souvenir auprès de la Martine</label>
            </div>
            <button type="submit" class="btn btn-outline-primary">Vérifie qu'c'est bon avec l'Didier</button>
        </form>

    </div>

{% endblock %}