{% extends 'base.html.twig' %}

{% block body %}

    <div class="base">

        <img src="/image/logo.png">

        <div class="menu">

            <a href="{{ path('connexion') }}"><button type="button" class="btn btn-outline-primary">Connexion</button></a>

            <a href="{{ path('inscription') }}"><button type="button" class="btn btn-outline-primary">Inscription</button></a>

        </div>

    </div>

{% endblock %}