{% extends 'base.html.twig' %}

{% block body %}

    <div class="base">

        <img src="/image/logo.png">

        <div class="menu">

            <h2>{{ title }}</h2>

            <a href="{{ path('connexion') }}"><button type="button" class="btn btn-outline-primary">S'connecter</button></a>

            <a href="{{ path('inscription') }}"><button type="button" class="btn btn-outline-primary">Ici c'est l'inscription hein</button></a>

        </div>

    </div>

{% endblock %}